<div class="card">
    <div [hidden]="submitted"  class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="col-md-4">Resource Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="resource.name" name="name" />
        </div>
        <label class="col-md-4">Add Skills</label>
        <div *ngFor="let skill of skills; let i=index">
    <input type="checkbox" (change)="onChange(skill.skillName, $event.target.checked)" name="skill.skillName" />
    {{ skill.skillName }}
  </div><br />
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create Resource</button>
        </div>
      </form>
    </div>
  </div>

  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
  </div>

